* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  padding: 1.4rem
}

p {
  font-size: 1.4rem;
}

label, input, textarea, button {
  font-size: 2rem;
}

button {
  padding: 0.3rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 25%;
  max-width: 20rem;
}

section {
  width: 100%;
}

h2 {
  text-align: center;
  font-size: 6rem;
}

h3 {
  font-size: 3.2rem;
}

form {
  margin: 1rem;
  margin-bottom: 3rem;
}

form li {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  max-width: 18rem;
}

#todos {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.4rem;
}

.priority {
  height: 10px;
  background-color: #ddd;
  width: 75%;
  align-self: center;
}

#todos div div {
  display: flex;
  max-width: 75%;
  min-width: 10rem;
}

#todos .delete {
  height: 35px;
}